<div style="padding: 20px;">
    <input type="text" class="layui-input" readonly id="date">
</div>
<script>
    layui.use(['laydate','layer'], function () {
        const laydate = layui.laydate;
        laydate.render({
            elem: '#date'
            ,format: 'yyyy年MM月dd日'
            ,type: 'date'
            ,max:new Date().getTime()
            ,btns: ['now']
            ,done: function(value, date, endDate){
                let openDiv = layui.sessionData('dateLayer')['openDiv'];
                layui.sessionData('dateLayer', {key: openDiv+'_type', value: '0'});
                layui.sessionData('dateLayer', {key: openDiv+'_start', value: value});
                layui.sessionData('dateLayer', {key: openDiv+'_end', value: value});
                layer.close(layui.sessionData('dateLayer')['index']);
            }
        });
    });
</script>