<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">待接待人员</h2>
    </div>
    <div class="layui-card-body">
        <!-- 搜索条件 -->
        <div class="layui-form toolbar">
            <form id="searchForm" onsubmit="return false;">
                姓名：<input name="petitionerName" class="layui-input search-input" type="text" placeholder="输入姓名"/>&emsp;
                <!--身份证号：<input name="idcard" class="layui-input search-input" type="text" placeholder="输入身份证号"/>&emsp;-->
                来访日期：<input name="visitDate" id="visitDate" class="layui-input search-input" type="text" placeholder="输入来访日期"/>
                <button id="user-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            </form>
        </div>
        <!-- 表格顶部操作列 -->
        <script type="text/html" id="user-toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn  layui-btn-sm" lay-event="add"><i
                        class="layui-icon">&#xe654;</i>未登记接待
                </button>
                <!--<button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="import"><i class="layui-icon">&#xe656;</i>导入
                </button>
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="operate"><i class="layui-icon">&#xe63c;</i>操作日志
                </button>-->
            </div>
        </script>
        <table class="layui-table" id="user-table" lay-filter="user-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="user-table-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">接待</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="print">打印</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">放弃接待</a>
</script>

<!-- 表格状态列 -->
<script type="text/html" id="user-tpl-status">
    <input type="checkbox" lay-filter="user-tpl-status" value="{{d.id}}" lay-skin="switch"
           lay-text="正常|禁用" {{d.status==0?'checked':''}}/>
</script>

<script>
    layui.use(['form', 'table', 'config', 'crab','laydate'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var crab = layui.crab;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#visitDate'
        });

        // 渲染表格
        var userTable = table.render({
            elem: '#user-table',
            toolbar: '#user-toolbar',
            url: config.base_server + '/jdc/djdr/page',
            parseData: config.parseData,
            page: true,
            cols: [[
                {type: 'numbers'},
                {field: 'petitionerName', title: '姓名', width: 90},
                {field: 'idcard', title: '身份证号'},
                {field: 'mobileNo', title: '联系电话'},
                {field: 'visitDate', title: '来访日期',width: 110},
                {field: 'createTime', title: '创建时间', sort: true, width: 150},
                {fixed: 'right', align: 'center', toolbar: '#user-table-bar', title: '操作', width: 180}
            ]]
        });
        // 表格顶部操作列
        table.on('toolbar(user-table)', function (obj) {
            if (obj.event === 'add') {
                location.replace('./#jdc-djxx');
            }
        });
        // 表格操作列事件
        table.on('tool(user-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') {
                // 接待
                console.log(data);
                crab.putFormData(data);
                Q.go("jdc-djxx");
            } else if (obj.event === 'reset') {
                // 删除
                layer.confirm('确定要重置该条记录的用户登录密码吗？', function () {
                    crab.put('/sys/user/reset_password/' + obj.data.id, {}, function () {
                        crab.msg('登录密码重置成功！')
                    });
                });
            } else if (obj.event === 'del') {
                // 删除
                layer.confirm('确定要放弃处理该条记录吗？', function () {
                    crab.deleteRow(obj, '/jdc/remove_giveup/' + obj.data.id);
                });
            }
        });


        // 搜索按钮点击事件
        $('#user-btn-search').click(function () {
            userTable.reload({where: crab.getSearchForm()});
        });

    });
</script>