<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">内容分类字典</h2>
        <span class="layui-breadcrumb pull-right">
            <a><cite>系统管理</cite></a>
            <a><cite>字典管理</cite></a>
            <a><cite>内容分类字典</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            关键字：<input id="keyword" class="layui-input search-input" type="text" placeholder="输入名称"/>&emsp;
            <button id="dict-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>

        <script type="text/html" id="dict-toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i>添加</button>
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="expand"><i class="layui-icon">&#xe6b1;</i>全部展开
                </button>
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="fold"><i class="layui-icon">&#xe656;</i>全部折叠
                </button>
                <!--<button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="operate"><i class="layui-icon">&#xe63c;</i>操作日志
                </button>-->
            </div>
        </script>
        <table class="layui-table" id="dict-table" lay-filter="dict-table"></table>
    </div>
</div>

<!-- 表单弹窗 -->
<script type="text/html" id="dict-model">
    <form id="dict-form" lay-filter="dict-form" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input name="name" placeholder="请输入名称" type="text" class="layui-input" maxlength="20"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级内容</label>
            <div class="layui-input-block">
                <select name="pid" xm-select="pContentType" xm-select-radio xm-select-skin="normal" lay-verify="required">
                    <option value="">请选择上级内容</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
                <input name="sort" placeholder="请输入排序号" type="number" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary close" type="button">取消</button>
            <button class="layui-btn" lay-filter="dict-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="dict-table-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表格状态列 -->
<script type="text/html" id="dict-tpl-status">
    <input type="checkbox" lay-filter="dict-tpl-status" value="{{d.id}}" lay-skin="switch"
           lay-text="正常|禁用" {{d.status==0?'checked':''}}/>
</script>

<script>
    layui.use(['form', 'table', 'config', 'crab', 'treeTable', 'formSelects'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var crab = layui.crab;
        var formSelects = layui.formSelects;

        var treeTable = layui.treeTable, tableId = '#dict-table',method = 'POST';;

        var expandIndexs = {} ,dic;
        // 渲染表格
        var renderTable = function () {
            treeTable.render({
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'id',
                treePidName: 'pid',
                treeDefaultClose: true,
                elem: tableId,
                toolbar: '#dict-toolbar',
                url: config.base_server + '/sys/dict/content_type/list',
                cols: [[
                    {type: 'numbers'},
                    {field: 'name', title: '名称'},
                    {field: 'sort', title: '排序', width: 60},
                    {field: 'status', templet: '#dict-tpl-status', title: '状态', width: 100},
                    {fixed: 'right', align: 'center', toolbar: '#dict-table-bar', title: '操作', width: 120}
                ]],
                done:function(){
                    $('.treeTable-icon').each(function(i,e){
                        var $ti = $(e);
                        if(expandIndexs[''+$ti.attr('lay-tid')] && 'dir' === ''+$ti.attr('lay-ttype') && !$ti.hasClass('open')){
                            treeTable.toggleRows($(e), false);
                        }
                    });
                    expandIndexs = {};
                }
            });
        };
        renderTable();

        // 表格顶部操作列
        table.on('toolbar(dict-table)', function (obj) {
            if (obj.event === 'add') {
                expandIndexs = {};
                $('.treeTable-icon.open').each(function(i,e){
                    expandIndexs[''+$(e).attr('lay-tid')]=true;
                });
                showEditModel();
            } else if (obj.event === 'expand') {
                treeTable.expandAll(tableId);
            } else if (obj.event === 'fold') {
                treeTable.foldAll(tableId);
            }
        });

        // 工具条点击事件
        table.on('tool(dict-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            expandIndexs = {};
            $('.treeTable-icon.open').each(function(i,e){
                expandIndexs[''+$(e).attr('lay-tid')]=true;
            });

            if (layEvent === 'edit') {
                showEditModel(data);
            } else if (obj.event === 'del') {
                //删除
                layer.confirm('确定要删除该记录吗？', function () {
                    obj.del = function () {
                        renderTable();
                    };
                    crab.deleteRow(obj, '/sys/dict/content_type/' + obj.data.id);
                });
            }
        });

        //显示表单弹窗
        var showEditModel = function (data) {
            // 上级菜单
            crab.get('/sys/dict/content_type/list_effective', {}, function (_data) {
                var l = _data.length;
                if (l >= 0) {
                    var contentTypeData = new Array();
                    contentTypeData.push({id:'0',pid:'0',name: '无', value: '0'});
                    for (var i = 0; i < _data.length; i++) {
                        contentTypeData.push({id:_data[i].id,pid:_data[i].pid,name: _data[i].name, value: _data[i].id});
                    }
                    formSelects.data('pContentType', 'local', {arr: crab.createTreeData(contentTypeData,'0')});
                    if (data) {
                        formSelects.value('pContentType', [data.pid])
                    }
                }
            });
            method = data ? 'PUT' : 'POST';
            layer.open({
                type: 1,
                title: data ? '修改' : '添加',
                area: '450px',
                offset: '120px',
                content: $('#dict-model').html(),
                success: function () {
                    $('#dict-form')[0].reset();
                    if (data) {
                        form.val('dict-form', data);
                    }
                    $('#dict-form .close').click(function () {
                        layer.closeAll('page');
                    });
                }
            });
        };

        // 表单提交事件
        form.on('submit(dict-form-submit)', function (data) {
            if(data.field.sort === '')data.field.sort = '0';
            crab.request('/sys/dict/content_type', data.field, function () {
                renderTable();
                layer.closeAll('page');
            }, method);
            return false;
        });

        // 搜索按钮点击事件
        $('#dict-btn-search').click(function () {
            treeTable.expandAll('#dict-table');
            var keyword = $('#keyword').val();
            var searchCount = 0;
            $('#dict-table').next('.treeTable').find('.layui-table-body tbody tr td').each(function () {
                $(this).css('background-color', 'transparent');
                var text = $(this).text();
                if (keyword != '' && text.indexOf(keyword) >= 0) {
                    $(this).css('background-color', 'rgba(250,230,160,0.5)');
                    if (searchCount == 0) {
                        treeTable.expandAll(tableId);
                        $('html,body').stop(true);
                        $('html,body').animate({scrollTop: $(this).offset().top - 150}, 500);
                    }
                    searchCount++;
                }
            });
            if (keyword == '') {
                layer.msg("请输入搜索内容", {icon: 5});
            } else if (searchCount == 0) {
                layer.msg("没有匹配结果", {icon: 5});
            }
        });

        // 修改状态
        form.on('switch(dict-tpl-status)', function (obj) {
            function change(obj,callback){
                crab.put('/sys/dict/content_type/status_' + obj.elem.value, {
                    status: obj.elem.checked ? 0 : -1
                }, function () {
                    layer.msg('状态修改成功', {icon: 1});
                    if(callback) callback();
                },'',true,function (data) {
                    expandIndexs = {};
                    $('.treeTable-icon.open').each(function(i,e){
                        expandIndexs[''+$(e).attr('lay-tid')]=true;
                    });
                    renderTable();
                });
            }
            var status = obj.elem.checked ? 0 : -1;
            if(status === -1){
                change(obj,function(){
                    expandIndexs = {};
                    $('.treeTable-icon.open').each(function(i,e){
                        expandIndexs[''+$(e).attr('lay-tid')]=true;
                    });
                    renderTable();
                });
            }else{
                change(obj);
            }
        });
    });
</script>