<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">稳控单位字典</h2>
        <span class="layui-breadcrumb pull-right">
            <a><cite>系统管理</cite></a>
            <a><cite>字典管理</cite></a>
            <a><cite>稳控单位字典</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <form id="searchForm" onsubmit="return false;">
                名称：<input name="name" class="layui-input search-input" type="text" placeholder="输入名称"/>&emsp;
                状态：<select name="status" lay-verify="">
                <option value="">请选择一个状态</option>
                <option value="0">正常</option>
                <option value="-1">禁用</option>
            </select>
                <button id="dict-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            </form>
        </div>

        <script type="text/html" id="dict-toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i>添加</button>
                <!--<button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="operate"><i class="layui-icon">&#xe63c;</i>操作日志</button>-->
            </div>
        </script>

        <!-- 数据表格 -->
        <table class="layui-table" id="dict-table" lay-filter="dict-table"></table>
    </div>
</div>

<!-- 表单弹窗 -->
<script type="text/html" id="dict-model">
    <form id="dict-form" lay-filter="dict-form" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input name="name" placeholder="请输入名称" type="text" class="layui-input" maxlength="20"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input name="mobileNo" placeholder="请输入电话" type="text" class="layui-input" lay-verify="enphone"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
                <input name="sort" placeholder="请输入排序号" type="number" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary close" type="button">取消</button>
            <button class="layui-btn" lay-filter="dict-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="dict-table-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表格状态列 -->
<script type="text/html" id="dict-tpl-status">
    <input type="checkbox" lay-filter="dict-tpl-status" value="{{d.id}}" lay-skin="switch"
           lay-text="正常|禁用" {{d.status==0?'checked':''}}/>
</script>

<link rel="stylesheet" href="/assets/libs/zTree_v3/css/metroStyle/metroStyle.css"/>
<script type="text/javascript" src="/assets/libs/zTree_v3/js/jquery.ztree.all.min.js"></script>

<script>
    layui.use(['form', 'table', 'config', 'crab'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var crab = layui.crab;
        var method = 'POST';

        //渲染表格
        var dictTable = table.render({
            elem: '#dict-table',
            toolbar: '#dict-toolbar',
            url: config.base_server + '/sys/dict/stability/page',
            page: true,
            parseData: config.parseData,
            cols: [[
                {type: 'numbers'},
                {field: 'name', align: 'center', title: '名称'},
                {field: 'mobileNo', title: '电话', width: 100},
                {field: 'sort', title: '排序', width: 80, sort: true},
                {field: 'state', templet: '#dict-tpl-status', title: '状态', width: 100},
                {field: 'createTime', title: '创建时间', sort: true, width: 150},
                {fixed: 'right', align: 'center', toolbar: '#dict-table-bar', title: '操作', width: 200}
            ]]
        });

        // 表单提交事件
        form.verify({
            enphone: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(value!== '' && !new  RegExp("^$|^((\\d{7,8})|(0\\d{2,3}-\\d{7,8})|(1\\d{10}))$").test(value)){
                    return '请输入正确的电话';
                }
            }
        }).on('submit(dict-form-submit)', function (data) {
            if(data.field.sort === '')data.field.sort = '0';
            crab.request('/sys/dict/stability', data.field, function () {
                dictTable.reload('dict-table');
                layer.closeAll('page');
            }, method);
            return false;
        });

        // 表格顶部操作列
        table.on('toolbar(dict-table)', function (obj) {
            if (obj.event === 'add') {
                showEditModel();
            }
        });

        // 工具条点击事件
        table.on('tool(dict-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                showEditModel(data);
            } else if (obj.event === 'del') {
                //删除
                layer.confirm('确定要删除该记录吗？', function () {
                    crab.deleteRow(obj, '/sys/dict/stability/' + obj.data.id);
                });
            }
        });

        // 搜索按钮点击事件
        $('#dict-btn-search').click(function () {
            dictTable.reload({where: crab.getSearchForm()});
        });

        // 显示编辑弹窗
        var showEditModel = function (data) {
            method = data ? 'PUT' : 'POST';
            layer.open({
                type: 1,
                title: data ? '修改' : '添加',
                area: '450px',
                offset: '120px',
                content: $('#dict-model').html(),
                success: function () {
                    $('#dict-form')[0].reset();
                    if (data) {
                        form.val('dict-form', data);
                    }
                    $('#dict-form .close').click(function () {
                        layer.closeAll('page');
                    });
                }
            });
        };

        // 修改dict状态
        form.on('switch(dict-tpl-status)', function (obj) {
            crab.put('/sys/dict/stability/status_' + obj.elem.value, {
                status: obj.elem.checked ? 0 : -1
            }, function () {
                layer.msg('状态修改成功', {icon: 1});
            });
        });
    });
</script>